
GAME/.godot/editor/filesystem_cache8
GAME/.godot/mono/metadata/ide_messaging_meta.txt
GAME/.godot/uid_cache.bin
GAME/.godot/editor/filesystem_cache8
GAME/.godot/uid_cache.bin
GAME/.godot/editor/filesystem_cache8
GAME/.godot/editor/filesystem_cache8
GAME/.godot/editor/filesystem_cache8
GAME/.godot/editor/project_metadata.cfg
GAME/.godot/editor/script_editor_cache.cfg
GAME/.godot/uid_cache.bin
